h1{
    color: blue;
}

#header{
    background-color: rgb(223, 165, 99);
    text-align: center;
    padding: 1px;
}

blockquote{
    background-color: bisque;
    border: 1px solid black;
}

.gambar{
    text-align: center;
}

.nav{
    text-align: center;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav ul li{
    margin: 0px 6px;
}

.jawa{
    color: blue;
    font-size: 40px;
    font-weight: bold;
}

body{
    background-color: rgb(223, 196, 161);
}

.line{
    line-height: 6px;
}

.koleksi{
    padding: 1em
}

.koleksi img{
    width: 12%;
    padding: 1em;
}

.promo h2{
    color: red;
    text-align: center;
}

.promo h3{
    color: red;
    text-align: center;
}

.ea{
    list-style: none;
    display: flex;
    justify-content: center;
}

.oi{
    text-align: center;
}

.ea li{
    margin: 0px 3px;
    
}